<nav class="navbar navbar-default" role="navigation">
  <a class="navbar-brand">New glass</a>

  <ul class="nav navbar-nav">
    <li>
      <%= link_to 'Back', glasses_path %>
    </li>
  </ul>
</nav>

<%= render 'form' %>